doctype html
head
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-134004178-2')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134004178-2');
  title We Make Reality
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='A gathering place for creators, artists, researchers, and explorers working together to discover the potential of emerging technologies like virtual, augmented, and mixed reality (XR).')
  meta(name='author' content='')
  link(rel='stylesheet' href='css/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='css/custom.css')
  link(rel='icon' href='favicon.ico')
.container-fluid
  // Nav Section  Start
  nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand.col-4.pl-0.mr-0(href='index.html') We Make Reality
    // <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-09"><span class="navbar-toggler-icon"></span></button>
  // Nav Section End test
  section.py-5
    .container.text-center
      img(src='images/community.png' height='320' style='width: inherit; max-width: 320px;' alt='small lightbulbs branching off of larger ones in a network of new ideas')
      h1.my-5 We Make Reality. Together.
      p
        | We&apos;re gathering creators, artists, researchers, and explorers to discover the potential of emerging technologies like virtual, augmented, and mixed reality (XR).  We&apos;d like your help to build a home for this community. One where anyone, whether just starting or already out in the wild, can showcase their work and share insights or reflection along the way.
  section#signup.py-5
    .container
      .row.align-items-center
        .col-md-6
          h5 Help us build this home &#xF3E0;&#xF388;
          p.mb-3.mb-md-0 Submit your email to receive updates and learn how to get involved.
        .col-md-6
          .card.input-group.justify-content-center
            // Begin Mailchimp Signup Form
            link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css' rel='stylesheet' type='text/css')
            style(type='text/css').
              #mc_embed_signup{ background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: inherit;}
              #mc-embedded-subscribe{ margin: 0; }
              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='https://gmail.us20.list-manage.com/subscribe/post?u=cef9ac125a12e91515ba59a70&id=8a708dceaf' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                #mc_embed_signup_scroll
                  .indicates-required
                    span.asterisk *
                    |  indicates required
                  .mc-field-group
                    label(for='mce-EMAIL')
                      | Email Address  
                      span.asterisk *
                    input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style='position: absolute; left: -5000px;' aria-hidden='true')
                    input(type='text' name='b_cef9ac125a12e91515ba59a70_8a708dceaf' tabindex='-1' value='')
                  .clear
                    input#mc-embedded-subscribe.btn.btn-primary.p-2(type='submit' value='Subscribe' name='subscribe')
            // End mc_embed_signup
  section.py-5
    .container.text-center
      .container.text-center
        img(src='images/bricks.png' height='320' alt='Hands building bricks upward' style='width: inherit; max-width: 320px;')
        h2.mb-5 Be part of our early community &#xF49C;
        .card-deck
          .card
            .card-body.mt-3
              h5.card-title Submit your Project &#x2728;
              p.card-text
                | Are you working on a tool, product, or experience for XR that has a positive impact on people and our planet? We&apos;d love to showcase your work within a supportive community. Just starting out? Even better! You deserve to be recognized.
                | Fear nothing! Hit that submit button below:
            .card-footer.bg-transparent.border-0.mb-3
              a.btn.btn-primary(target='_blank' href='https://wemakereality.typeform.com/to/VDptrG') Submit via Typeform
          .card
            .card-body.mt-3
              h5.card-title Submit your Research &#xF4DD;
              p.card-text
                | Working on a research study?  Writing out your thesis? Diving deep into measuring the impact of XR? Your insights and observations can make a huge impact on the work of others. You deserve to be recognized. Fear nothing! Hit that submit button below:
            .card-footer.bg-transparent.border-0.mb-3
              a.btn.btn-primary(target='_blank' href='https://wemakereality.typeform.com/to/YnRZ6O ') Submit via Typeform
  section.py-5.text-center
    .container
      h2 Don&apos;t have a project or research? 
      h2  No problem, friend!
      .d-flex.justify-content-center.my-4
        img.mx-1(height='320' style='width: inherit;' src='images/Surrealist-Lightbulb.gif' alt='')
      p
        | If you&apos;re in the idea phase, or just wanting to lurk and learn, you&apos;re still part of this community. Sign up to our newsletter for the ocassional juicy update on our progress.
      .container.text-center
        a.btn.btn-primary.mt-2(href='index.html#signup') Join We Make Reality
  // Footer Start
  footer.py-3
    .container
      .d-flex.justify-content-center.align-items-center.flex-column.text-center
        h5.mb-3
          a(href='index.html') We Make Reality
        p.mb-1.small.text-muted
          a(href='privacy.html') Privacy Statement
        p.mb-1.small.text-muted
          | Illustrations courtesy of 
          a(href='https://absurd.design/' target='blank') Absurd Illustrations
          | .
        .d-flex
          p.mb-0.small.text-muted &copy; 2019 We Make Reality. All rights reserved.
  // Footer End
script(src='js/jquery/jquery.min.js')
script(src='js/popper/popper.min.js')
script(src='js/bootstrap/bootstrap.min.js')
